/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */

/*MENU Y HEADER*/
.black-bg{
	background-color: #424A5D;
}

.tooltips, .name-bubblegum, h3{
	color:#FFF;
}

/*header*/
.logout{
	background-color: #9C4C9D;
	border:1px solid transparent;
	color: #FFF;
	border-radius: 5px;
	display: inline;
	bottom: 25px;
}

.header{
	position: fixed;
	width: 100%;
	top: 0px;
	padding:15px 15px 0px 15px;
	border-bottom: 1px solid #293241;
	/*position: absolute;*/
	z-index: 999;

}

a .logo{
	color: #FFF;
}

.sidebar-toggle-box{
	display: inline;
	padding-right: 10px;
	color:#FFF;
	font-size: 1.5em;
}

b{
	display: inline;
	font-size: 1.5em;
}

/*vertical menu*/
#sidebar{
	background-color: #424A5D;
	position: fixed;
	left: 0;
	top:70px;
	margin-left: 0px;
	margin-top: 0px;
	height: 100%;
	width: 18%;
	/*position: relative;*/
}

.sidebar-menu{
	list-style: none;
	padding: 20px 10px;
}

span{
	color: #AEB2B7;
}

aside .fa{
	color: #AEB2B7;
}

span:hover{
	color: #FFF;
}

.sub-menu{
	padding:20px;
}

.fa{
	padding-right: 10px;
}

.sub-menu:hover{
	background-color: #9C4C9D;
}

.name-bubblegum{
	font-size: 1.5em;
	color:#FFF;
	font-weight: lighter;
}

/*FIN MENU Y HEADER*/

/*MAIN CONTENT*/
#main-content{
	margin-left: 245px;
	/*position: ;*/
	margin-top: 100px;
}

.main-chart{
	background-color: #F2F2F2;
}

/*statistics section*/
.box0{
	background-color: #F2F2F2;
	text-align: center;
	/*padding:20px;*/
	margin:0px 5px;
}

.box0:hover{
	background-color: #FFF;
}

.red-text{
	color: #FF9C7A;
	visibility: hidden;
}

.red-text:hover{
	visibility: visible;
	color: #FF9C7A;
}

.box1{
	background-color: #F2F2F2;
	border-bottom: 1px solid #989898;
	margin:0px 5px;
	padding-top: 20px;
}


.box1:hover{
	background-color: #FFF;
}

.icon-gray{
	color: #989898;
	text-align: center;
	font-size: 3em;
}


.showback{
	background-color: #FFF;
	padding:15px 10px 10px 10px;
	box-shadow: 2px 2px 2px 2px gray;
	margin:6px;
}

h4{
	color: #C7C7C7;
}
/*FIN MAIN CONTENT*/

/*COL-3*/

/*notifications and chat box*/
.candy-box{
	background-color: #9C4C9D;
	color: #FFF;
	padding: 15px;
	font-size: 1em;
	text-align: center;
}

.bg-blue{
	background-color: #68DFF0;
}

.status-chat{
	font-style: italic;
}

.desc{
	border-bottom: 1px solid #EAEAEA;
	padding:10px;
}
/*FIN PAGINA DASHBOARD*/

/*___________________________________________________*/

/*COMIENZO PAGINA BASIC TABLES*/
.content-panel{
	background-color: #FFF;
	padding:15px 10px 5px 10px;
	box-shadow: 2px 2px 2px 2px gray;
	margin:6px;
}

.wrapper{
	color: #797979;
	padding-left: -10px;
}

/*FIN PAGINA BASIC TABLES*/

/*________________________*/

/*COMIENZO PAGINA FORMS*/
.form-control{
	border:red;
}
/*FIN PAGINA FORMS*/

/*COMIENZO PAGINA GALLERY*/
.bg-ligthgray{
	background-color: #F2F2F2;
}

/*FIN PAGINA GALLERY*/

/*_________________________*/

/*COMIENZO PAGINA LOGIN*/
.bg-color{
	background-color: #F2F2F2;
	height: 100%;
}

.form-login{
	width: 30%;
	padidng:20px;
	border:1px solid transparent;
	background-color: #FFF;
	margin: 5% 0% 20% 35%;
}

.form-login-heading{
	background-color: #68DFF0;
	color: #FFF;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
}

.registration{
	text-align: center;
	margin:20px;
}

.login-wrap{
	padding:0px 20px;
}

.form-blue{
	border:#68DFF0;
}

/*FIN PAGINA LOGIN*/

/*COMIENZO PAGINA PROGRESS*/
.message-alert{
	font-size: 1em;
}

.alert-success{
	color: #3F7840;
}

.labels-showback{
	padding-bottom: 15px;
}